/* @import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:opsz,wght@9..144,700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Montserrat";
    src: url('./assets/Montserrat-VariableFont_wght.ttf');
  }

  @font-face {
    font-family: "Fraunces";
    src: url('./assets/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf');
  }